= simple_form_for(user) do |form|
  = form.input :name
  = form.input :age
  -# = form.collection_radio_buttons :sex, ['male', 'female'], :
  = form.input :email
  = form.input :image, as: :file
  = form.button :submit
