!!! 5
%html{lang: 'ja'}
  %head
    %title OnBoarding
    = csrf_meta_tags
    - csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    %p.notice
      = notice
    %p.alert
      = alert

  %body
    %header
      %nav
        %br
        - if current_user
          login user:
          = current_user.name
          - if can? :update, current_user
            %h1 You can update
          - if can? :read, current_user
            %h1 You can read member
          - if current_user.role == "admin"
            %p You are admin user
        - else
          %p
            = link_to 'Signup/Signin with Google', user_google_oauth2_omniauth_authorize_path
          %p
            = link_to 'Signup/Signin with Facebook', user_facebook_omniauth_authorize_path
          %p
            = link_to 'login', new_user_session_path


        - if user_signed_in?
          %strong
            -# = link_to current_user.username, pages_show_path
          %p
            = link_to 'edit profile', edit_user_registration_path
          %p
            = link_to 'logout', destroy_user_session_path, method: :delete
        - else
          %p
            = link_to 'sign up', new_user_registration_path
          %p
            = link_to 'login', new_user_session_path

    = yield


    %footer
      = render 'layouts/footer'
